DATABASE_URL="file:./dev.db"

# Telegram Mini App + TON
NEXT_PUBLIC_TON_RECEIVER="UQXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
NEXT_PUBLIC_TON_COINS_PER_TON="100"
# NEXT_PUBLIC_TELEGRAM_CHANNEL="my_channel"
TONAPI_API_KEY="ВАШ_TONAPI_API_KEY"

# Важно: включаем серверный режим Next.js (API-роуты работают)
NEXT_OUTPUT_EXPORT="0"

# Опционально
# NEXT_PUBLIC_BASE_PATH=""
